@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

:root {
  --Gray-50: hsl(0, 0%, 98%);
  --Gray-500: hsl(0, 0%, 41%);
  --Gray-950: hsl(0, 0%, 8%);

  --fw-medium: 500;
  --fw-bold: 700;
}
body {
  width: 100%;
  min-height: 100vh;
}
/* MOBILE FIRST */
.header {
  background-color: var(--Gray-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__btn-menu {
  border: none;
  background: none;
  cursor: pointer;
}
.nav {
  background-color: var(--Gray-50);
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 300px;
  width: 65%;
  height: 100%;
  padding: 20px;
  z-index: 999;
  transition: right 0.3s;
  overflow-y: auto;
}
.nav.active {
  right: 0;
}
.nav__btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.nav-menu {
  margin-top: 50px;
  list-style: none;
}
.nav-item {
  margin-bottom: 20px;
}
.nav-btn-submenu {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--Gray-500);
  font-weight: var(--fw-medium);
  transition: color 0.3s ease;
}
.nav-btn-submenu:hover {
  color: var(--Gray-950);
}
.nav-link {
  text-decoration: none;
  color: var(--Gray-500);
  font-weight: var(--fw-medium);
  cursor: pointer;
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: var(--Gray-950);
}
.arrow {
  width: 12px;
  height: auto;
  transition: transform 0.3s;
}
.arrow.rotated {
  transform: rotate(180deg);
}
.submenu {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 15px;
}
.submenu.active {
  max-height: 300px;
  margin-top: 23px;
}
.submenu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.submenu-item:last-child {
  margin-bottom: 0;
}
.submenu-link {
  text-decoration: none;
  color: var(--Gray-500);
  font-weight: var(--fw-medium);
  cursor: pointer;
  transition: color 0.3s ease;
}
.submenu-link:hover {
  color: var(--Gray-950);
}
.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.btn-login {
  text-decoration: none;
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 15px;
  font-weight: var(--fw-medium);
  color: var(--Gray-500);
  cursor: pointer;
  transition: color 0.3s ease;
}
.btn-login:hover {
  color: var(--Gray-950);
}
.btn-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  background: none;
  border: 2px solid var(--Gray-500);
  border-radius: 15px;
  padding: 12px 0;
  color: var(--Gray-500);
  font-weight: var(--fw-medium);
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-register:hover {
  color: var(--Gray-950);
  border-color: var(--Gray-950);
}
.nav-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 998;
}
.nav-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Section Hero */
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}

.hero__image img {
  width: 100%;
}
.hero__content {
  padding: 0 24px;
  margin: 35px 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.hero__title {
  font-size: clamp(32px, 4vw, 42px);
  color: var(--Gray-950);
  text-align: center;
}
.hero__description {
  text-align: center;
  color: var(--Gray-500);
  line-height: 1.5;
  font-weight: var(--fw-medium);
}
.hero__cta {
  background-color: var(--Gray-950);
  color: var(--Gray-50);
  border: 2px solid transparent;
  padding: 15px 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: var(--fw-medium);
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero__cta:hover {
  background: none;
  color: var(--Gray-9500);
  border-color: var(--Gray-500);
}
.hero__clients {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.hero__clients img {
  width: 70px;
  height: auto;
}
footer {
  text-align: center;
  font-size: 12px;
  color: var(--Gray-500);
  font-weight: var(--fw-medium);
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  color: var(--Gray-950);
  font-weight: var(--fw-bold);
}

@media (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .header {
    flex-shrink: 0;
    gap: 25px;
    padding: 20px 60px;
  }
  .logo {
    width: 60px;
    height: auto;
  }
  .header__btn-menu {
    display: none;
  }
  .nav__btn-close {
    display: none;
  }
  .nav {
    position: static;
    width: 100%;
    max-width: none;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    overflow: visible;
  }
  .nav-menu {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .nav-item {
    margin-bottom: 0;
    position: relative;
  }

  .nav-buttons {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .btn-register {
    width: 100px;
    padding: 7px 0;
    border-radius: 8px;
  }

  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    min-width: 120px;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
  }
  .submenu.active {
    max-height: 500px;
    padding: 20px 24px;
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-item:nth-child(1) .submenu {
    left: -70px;
  }
  .nav-item:nth-child(2) .submenu {
    left: auto;
    right: -30px;
    padding: 20px 15px;
  }

  /* MAIN CONTAINER */
  .container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
  .hero {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
  }
  .hero__image img {
    max-height: 60vh;
    width: auto;
    object-fit: contain;
  }
  .hero__content {
    margin: 0;
    padding: 0;
    display: inline;
  }
  .hero__title {
    max-width: 500px;
    text-align: left;
    font-size: clamp(48px, 6vw, 72px);
  }
  .hero__description {
    text-align: left;
    font-size: 16px;
    margin: 30px 0;
  }
  .hero__cta {
    padding: 10px 15px;
  }
  .hero__clients {
    margin-top: 60px;
  }
  footer {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .hero__title {
    text-align: left;
    font-size: 70px;
    line-height: 1;
  }
  .hero__image img {
    max-height: 70vh;
  }
  .hero {
    justify-content: center;
    gap: 5rem;
  }

  .hero__content {
    max-width: 460px;
  }
  .hero__clients img {
    width: 90px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .hero {
    width: 100%;
    margin: 0;
    gap: 7.5rem;
  }
  .container {
    max-width: 1400px;
    width: 100%;
  }
  .hero__content {
    max-width: 600px;
  }
  .hero__image img {
    max-height: 65vh;
  }
  .hero__title {
    max-width: 540px;
    font-size: 80px;
    line-height: 1;
  }
  .hero__description {
    width: 470px;
    margin: 40px 0;
    font-size: 20px;
  }
  .hero__clients {
    gap: 40px;
    margin-top: 75px;
  }
  .hero__clients img {
    width: 90px;
  }
}
