@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --white: hsl(0, 100%, 100%);

  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* MOBILE FIRST 375px*/
body {
  background-color: var(--purple-100);
}
.hero {
  background: url(../images/background-pattern-mobile.svg);
  background-size: cover;
  width: 100%;
  height: clamp(200px, 50vw, 320px);
  transition: height 0.3s ease;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.faq {
  background-color: var(--white);
  max-width: min(90%, 350px);
  width: 100%;
  padding: 24px;
  border-radius: 15px;
  margin: -150px auto 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  top: 45px;
}
.faq__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 10px;
}
.faq__icon {
  width: 25px;
}
.faq__item {
  border-bottom: 1px solid var(--purple-100);
  padding-top: 20px;
  padding-bottom: 20px;
}
.faq__item:first-child {
  padding-top: 0;
}
.faq__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;
  line-height: 1.4;
  color: var(--purple-950);
  font-size: clamp(14px, 3.5vw, 18px);
  font-weight: var(--fw-bold);
  padding-right: 30px;
  position: relative;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.faq__question::-webkit-details-marker {
  display: none;
}
.faq__question:hover {
  color: #b11cec;
}
.faq__toggle-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.faq__toggle-icon--plus {
  opacity: 1;
}
.faq__toggle-icon--minus {
  opacity: 0;
}
.faq__item[open] .faq__toggle-icon--minus {
  opacity: 1;
}

/* FAQ ANSWER */
.faq__answer {
  font-size: clamp(14px, 3vw, 16px);
  color: var(--purple-600);
  font-weight: var(--fw-regular);
  margin-top: 20px;
  line-height: 1.3;
  padding-right: 35px;
  animation: fade-in-bottom-normal 1s ease;
}

@keyframes fade-in-bottom-normal {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom-normal {
  animation: fade-in-bottom-normal 1s ease 0s 1 normal none;
}
/* Small tablets: 480px */
@media (min-width: 480px) {
  .faq {
    max-width: 450px;
  }
}

/* Tablets: 640px */
@media (min-width: 640px) {
  .hero {
    background: url(../images/background-pattern-desktop.svg);
    background-size: cover;
  }
  .faq {
    max-width: 550px;
  }
}

/* Desktop small: 768px */
@media (min-width: 768px) {
  .hero {
    background: url(../images/background-pattern-desktop.svg);
  }
  .faq {
    max-width: 600px;
    padding: 2.5rem;
  }
  .faq__item {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .faq__question {
    font-size: 20px;
    padding-right: 34px;
  }
  .faq__answer {
    font-size: 16px;
  }
}

/* Desktop medium: 1024px */
@media (min-width:1024px) {
  .faq {
    max-width: 650px;
    top: 25px;
  }
}