@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --Red-400: hsl(0, 100%, 74%);
  --Green-400: hsl(154, 59%, 51%);
  --Purple-700: hsl(248, 32%, 49%);
  --Gray-900: hsl(249, 10%, 26%);
  --Purple-350: hsl(246, 25%, 77%);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* MOBILE FIRST */
body {
  background-image: url(../images/bg-intro-desktop.png);
  background-size: cover;
  background-position: center;
  background-color: var(--Red-400);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding: 80px 24px;
  position: relative;
  overflow: hidden;
}

.hero {
  text-align: center;
  color: white;
  max-width: 550px;
}
.hero__title {
  font-size: 30px;
  font-weight: var(--fw-bold);
  line-height: 1.3;
  margin-bottom: 1.4rem;
}
.hero__description {
  font-size: clamp(16px, 3vw, 18px);
  line-height: 1.5;
  text-align: center;
  opacity: 0.95;
}

/* ===== Trial Banner ===== */
.trial-banner {
  background-color: var(--Purple-700);
  color: white;
  padding: 16px 40px;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
}
.trial-banner__text {
  font-size: 15px;
  line-height: 1.7;
  text-align: center;
}

/* ===== Form ===== */
.form {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.15);
  max-width: 540px;
  width: 100%;
}

/* ===== Form Field ===== */
.form-field {
  position: relative;
  margin-bottom: 20px;
}

.form-field__input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--fw-semibold);
  color: var(--Gray-900);
  transition: all 0.3s ease;
}

.form-field__input::placeholder {
  color: gray;
  font-weight: var(--fw-semibold);
}

.form-field__input:focus {
  outline: none;
  border-color: var(--Purple-350);
}

/* ===== Form Button ===== */
.form-button {
  width: 100%;
  background-color: var(--Green-400);
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: var(--fw-semibold);
  box-shadow: 0 4px 0 #2fb574;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #55d899;
}

/* ===== Form Terms ===== */
.form-terms {
  display: block;
  font-size: 11px;
  text-align: center;
  color: var(--Purple-350);
  margin-top: 15px;
}

.form-terms a {
  text-decoration: none;
  color: var(--Red-400);
  font-weight: var(--fw-bold);
}

/* Error state */
.form-field--error .form-field__input {
  border-color: var(--Red-400);
}

.form-field--error .form-field__input--invalid-text {
  border-color: var(--Red-400);
}
.form-field__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 20px;
  top: 23%;
  display: none;
}

.form-field--error .form-field__icon {
  display: block;
}
.form-field__error {
  font-size: 11px;
  color: var(--Red-400);
  font-style: italic;
  text-align: right;
  margin-top: 6px;
  display: none;
}

.form-field--error .form-field__error {
  display: block;
}

footer {
  text-align: center;
  color: white;
  font-size: 10px;
}
footer a {
  text-decoration: none;
  color: var(--Purple-700);
  font-weight: var(--fw-bold);
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .hero {
    text-align: left;
  }
  .hero__title {
    font-size: 42px;
  }
  .hero__description {
    text-align: left;
    font-size: 16px;
  }
  .form {
    padding: 30px;
  }
  footer {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .container {
    gap: 80px;
  }
  .hero__title {
    font-size: 50px;
  }
  footer {
    font-size: 14px;
  }
}
